@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');


:root{
    --orange:#ff7800;
    --black:#130f40;
    --lighting-color: rgb(255, 255, 255);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.2rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black)
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 60.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}

body{
    background:#eee;
}

.Header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.btncheckout{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem ;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    align-items: center;
}
.btncheckout:hover{

    background: var(--orange);
    color: var(--lighting-color);
}

.Header .Logo {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.Header .Logo i {
    color: var(--orange);
}

.Header .navbar a{
    font-size: 1.4rem;
    margin: 0 1rem;
    color: var(--border);
}
.Header .navbar a:hover {
    color: var(--orange);

}
.Header .icons div {
    height: 4rem;
    width: 4rem ;
    line-height: 4rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black) ;
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}
.Header .icons div:hover {
    background: var(--orange);
    color:#eee;
    cursor: pointer;
}

#menu-btn{
    display: none;
}

.Header .Search-from{
    position: absolute;
    top:110%; right: -110%; 
    max-width: 50rem;
    height: 4rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
     align-items: center;
     box-shadow: var(--box-shadow);
}

.Header .Search-from.active{
    right: 2rem;
    transition: .4s linear;
}
.Header .Search-from input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    color: var(--black);
    font-size: 1.6rem;
    padding: 0 1rem;
}
.Header .Search-from label{
    color: var(--black);
    font-size: 2.2rem;
    padding-right:  1.5rem;
    cursor: pointer;
}
.Header .Search-from label:hover{
    color: var(--orange);
}
.Header .shoping-cart{
    position:absolute ;
    top: 110%; right:-110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
}
.Header .shoping-cart.active{
    right: 5rem;
    transition: .4s  linear;
}
.Header .shoping-cart .box{
 
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.Header .shoping-cart .box img{
    height: 10rem;
}
.Header .shoping-cart .box .fa-trash {

    font-size: 2rem;
    position: absolute;
    top:50%; right: 1rem;
    cursor: pointer;
    color: var(--lighting-color);
    transform: translate(-50%);

}
.Header .shoping-cart .box .fa-trash:hover{
    color: var(--orange);
} 
.Header .shoping-cart .box .content h3{
    color: var(--black);
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.Header .shoping-cart .box .content span{
    color: var(--lighting-color);
    font-size: 1.3rem;
     
}
.Header .shoping-cart .box .content .Qty{
    padding:1rem ;
}
.Header .shoping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
}
.Header .shoping-cart .btncheckout{
    display: block;
    text-align:center;

}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .Header{
        padding: 2rem;
    }
    
}
@media (max-width:768px) {

    #menu-btn{
        display: inline-block;
    }

    .Header .navbar{
        position:absolute ;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow:var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .Header .navbar a{
        font-size: 2rem;
        margin: 2rem 3.5rem;
        display: block ;
    }
    
}